<section class="content-header">
  <h1>
    <%=t('Select_the_judge')%>
    <small><%=t('respond_a_smackdown')%></small>
  </h1>
</section>
<div class="box">
  <div class="box-body">
    <form role="form" accept-charset="UTF-8" action="/response_creator/select_judge" method="get" class="nifty_form">
      <div class="form-group">
        <input name="accepted" type="hidden" value="true" />
        <input name="smackdown_id" type="hidden" value="<%=@smackdown.id%>" />
        <div class="input-group input-group-sm">
          <input name="like_param" placeholder="<%=t('Type_the_judge_name_here')%>" type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat" type="submit"><%=t('Search')%>!</button>
          </span>
        </div>
      </div>
    </form>
    <%if @judges.count>0%>
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><%=t('Image')%></th>
            <th><%=t('Name')%></th>
          </tr>
        </thead>
        <tbody>
          <% @judges.each do |user| %>
            <% if user.id!=current_user.id %>
              <tr>
                <td>
                  <% if user.uid!= nil %>
                    <%= link_to image_tag("http://graph.facebook.com/" + user.uid + "/picture?type=large", :class => "resizable_image"), {:controller => "home", :action => "respond_smackdown", :judge_id => user.id, :player2_accepted => true, :smackdown_id => @smackdown.id }%>
                  <% end %>
                </td>
                <td>
                  <%= link_to user.name,{:controller => "home", :action => "respond_smackdown", :judge_id => user.id, :player2_accepted => true, :smackdown_id => @smackdown.id }%>
                  <a href="/response_creator/select_judge/?smackdown_id=<%=@smackdown.id%>&accepted=true&like_param=<%=@like_param%>&favorite_id=<%=user.id%>">
                    <% if Favorite.where(user: current_user, favorited_id: user.id).count>0 %>
                      <i style="color: #e74c3c" class="fa fa-heart"></i>
                    <% else %>
                      <i style="color: #e74c3c" class="fa fa-heart-o"></i>
                    <% end %>
                  </a>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th><%=t('Image')%></th>
            <th><%=t('Name')%></th>
          </tr>
        </tfoot>
      </table>
    <%else%>
      <p><%=t('You_still_have_no_favourite_friends_find_them_in_the_search_bar_above_and_click_on_the_favorite_icon')%> (<i style="color: #e74c3c" class="fa fa-heart-o"></i>) <%=t('or_invite_them_using_the_share_button')%>.
        <div class="fb-share-button"
          data-href="http://smackdown.club" data-width="20" data-layout="button">
        </div>
      </p>
    <%end%>
  </div><!-- /.box-body -->
</div><!-- /.box -->

