<p>
  <strong>User:</strong>
  <%= @user_playing_game.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @user_playing_game.game_id %>
</p>

<p>
  <strong>Is playing:</strong>
  <%= @user_playing_game.is_playing %>
</p>

<%= link_to 'Edit', edit_user_playing_game_path(@user_playing_game) %> |
<%= link_to 'Back', user_playing_games_path %>
