<% smackdown=locals[:smackdown] %>

<%= render 'smackdown_info', :locals => {:smackdown=> smackdown} %>

<%= render 'smackdown_rules', :locals => {:smackdown=> smackdown} %>

<button id="button_show_smackdown<%= smackdown.id %>">Ver más</button>
</br>
</br>

<span><b>Juzga este smackdown: </b><span>
</br>
<form accept-charset="UTF-8" action="/home/judge2_smackdown" method="get" class="nifty_form">
  <span>Ganador: <span>
  <select name="winner_id">
    <option <%= "selected=\"selected\"" if smackdown.player1_id == smackdown.judge2_winner_id %> value="<%= smackdown.player1_id %>"><%= User.find_by_id(smackdown.player1_id).name %></option>
    <option <%= "selected=\"selected\"" if smackdown.player1_id == smackdown.judge2_winner_id %> value="<%= smackdown.player2_id %>"><%= User.find_by_id(smackdown.player2_id).name %></option>
  </select>
  <select name="judge2_accepted">
    <option <%= "selected=\"selected\"" if smackdown.judge2_accepted %> value="true">Aceptar</option>
    <option <%= "selected=\"selected\"" if smackdown.judge2_accepted %> value="false">Rechazar</option>
  </select>
  <input name="judge2_comment" value="<%= smackdown.judge1_comment %>" />
  <input name="smackdown_id" type="hidden" value="<%= smackdown.id %>" />
  <input name="commit" type="submit" value="Enviar" />
</form>

</br>
</br>
<%= link_to "Compartir en Facebook", "/shareables/smackdown/"+smackdown.id.to_s+"/0" %>

<script>
    $(document).ready(function(){
      $("#button_show_smackdown<%= smackdown.id %>").click(function(){
        $("#ul_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        $("#div_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        if($("#button_show_smackdown<%= smackdown.id %>").text()=="Ver más")
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ocultar");
        }else
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ver más");
        }
      });
    });
</script>
