<% smackdown=locals[:smackdown] %>

  <%= vsTable(User.find_by_id(smackdown.player1_id),User.find_by_id(smackdown.player2_id)).html_safe %>
  <table>
    <tr>
      <td>
        <span><b>Enviado en: </b><span>
        <%= l smackdown.created_at.in_time_zone(getCurrentTimeZone), format: :short %>
      </td>
    </tr>
    <tr>
      <td>
        <span><b>Jugador 1: </b></span>
        <%= User.find_by_id(smackdown.player1_id).name %>
      </td>
      <td>
        <span><b>Jugador 2: </b></span>
        <%= User.find_by_id(smackdown.player2_id).name %>
      </td>
      <td>
        <span><b>Otro juez:</b></span>
        <%= User.find_by_id(smackdown.judge1_id).name %>
      </td>
    <tr>
    </tr>
      <td>
        <span><b>Comentario del otro juez:</b></span>
        <%= smackdown.judge1_comment %>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <form accept-charset="UTF-8" action="/home/judge2_smackdown" method="get" class="nifty_form">
          <span>Ganador: <span>
          <select name="winner_id">
            <option <%= "selected=\"selected\"" if smackdown.player1_id == smackdown.judge2_winner_id %> value="<%= smackdown.player1_id %>"><%= User.find_by_id(smackdown.player1_id).name %></option>
            <option <%= "selected=\"selected\"" if smackdown.player1_id == smackdown.judge2_winner_id %> value="<%= smackdown.player2_id %>"><%= User.find_by_id(smackdown.player2_id).name %></option>
          </select>
          <select name="judge2_accepted">
            <option <%= "selected=\"selected\"" if smackdown.judge2_accepted %> value="true">Aceptar</option>
            <option <%= "selected=\"selected\"" if smackdown.judge2_accepted %> value="false">Rechazar</option>
          </select>
          <input name="judge2_comment" value="<%= smackdown.judge1_comment %>" />
          <input name="smackdown_id" type="hidden" value="<%= smackdown.id %>" />
          <input name="commit" type="submit" value="Enviar" />
        </form>
      <td>
    <tr>
  <table>
  <ul>
    <li><b>Juego: </b><%= smackdown.smackdown_rules.first.rule.rule_group.game.name %></li>
    <% smackdown.smackdown_rules.each do |sr| %>
      <li><b><%= sr.rule.rule_group.name %>: </b><%= sr.rule.name %></li>
    <% end %>
  </ul>

  <%= link_to "Ver más", "/shareables/smackdown/"+smackdown.id.to_s+"/0" %>
