<% smackdown=locals[:smackdown] %>

<%= render 'smackdown_info', :locals => {:smackdown=> smackdown} %>

<%= render 'smackdown_rules', :locals => {:smackdown=> smackdown} %>

<button id="button_show_smackdown<%= smackdown.id %>">Ver más</button>

</br>
</br>

<span><b>Responde este Smackdown: </b><span>
</br>
<form accept-charset="UTF-8" action="/home/respond_smackdown" method="get" class="nifty_form">
  <span><b>Juez 2: </b><span>
  <select name="judge_id">
    <% User.all.each do |judge| %>
      <% if judge.id != current_user.id %>
        <option <%= "selected=\"selected\"" if smackdown.judge2_id == judge.id %> value="<%= judge.id %>"><%= judge.name %></option>
      <% end %>
    <% end %>
  </select>
  <span><b>Respuesta: </b><span>
  <select name="player2_accepted">
    <option <%= "selected=\"selected\"" if smackdown.player2_accepted %> value="true">Aceptar</option>
    <option <%= "selected=\"selected\"" if smackdown.player2_accepted == false %> value="false">Rechazar</option>
  </select>
  <input name="smackdown_id" type="hidden" value="<%= smackdown.id %>" />
  <input name="commit" type="submit" value="Enviar" />
</form>

</br>
</br>
<%= link_to "Compartir en Facebook", "/shareables/smackdown/"+smackdown.id.to_s+"/0" %>

<script>
    $(document).ready(function(){
      $("#button_show_smackdown<%= smackdown.id %>").click(function(){
        $("#ul_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        $("#div_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        if($("#button_show_smackdown<%= smackdown.id %>").text()=="Ver más")
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ocultar");
        }else
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ver más");
        }
      });
    });
</script>
