<% smackdown=locals[:smackdown] %>

<td>
  <img class="resizable_image" src="<%= smackdown.smackdown_rules.first.rule.rule_group.game.image_path.split('.')[0] %>_100.png"/>
</td>

<td>
  <% user1 = User.find_by_id(smackdown.player1_id) %>
  <% user2 = User.find_by_id(smackdown.player2_id) %>
  <img class='resizable_image' src='http://graph.facebook.com/<%= user1.uid %>/picture?type=normal'/>
  <img class='resizable_image' src='/assets/Smackdown_150px/vs.png' />
  <img class='resizable_image' src='http://graph.facebook.com/<%= user2.uid %>/picture?type=normal'/>
</td>

<td>
  <%= render 'smackdown_info', :locals => {:smackdown=> smackdown} %>
  <%= render 'smackdown_rules', :locals => {:smackdown=> smackdown} %>
  <button id="button_show_smackdown<%= smackdown.id %>">Ver más</button>
</td>

<td>
  <form role="form" accept-charset="UTF-8" action="/home/respond_smackdown" method="get" class="nifty_form">
    <div class="form-group">
      <label>Juez 2</label>
      <select class="form-control" name="judge_id">
        <% User.all.each do |judge| %>
          <% if judge.id != current_user.id %>
            <option <%= "selected=\"selected\"" if smackdown.judge2_id == judge.id %> value="<%= judge.id %>"><%= judge.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <span><b>Respuesta: </b><span>
    <div class="form-group">
      <label>Respuesta</label>
      <select class="form-control" name="player2_accepted">
        <option <%= "selected=\"selected\"" if smackdown.player2_accepted %> value="true">Aceptar</option>
        <option <%= "selected=\"selected\"" if smackdown.player2_accepted == false %> value="false">Rechazar</option>
      </select>
    </div>
    <input name="smackdown_id" type="hidden" value="<%= smackdown.id %>" />
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Responder</button>
    </div>
  </form>
</td>

<td>
  <%= link_to "Compartir en Facebook", "/shareables/smackdown/"+smackdown.id.to_s+"/0" %>
</td>

<script>
    $(document).ready(function(){
      $("#button_show_smackdown<%= smackdown.id %>").click(function(){
        $("#ul_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        $("#div_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        if($("#button_show_smackdown<%= smackdown.id %>").text()=="Ver más")
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ocultar");
        }else
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ver más");
        }
      });
    });
</script>
