<div class="col-md-6">
  <div class="box box-solid box-success">
    <div class="box-header">
      <h3 class="box-title"><%=t('Status')%></h3>
    </div>
    <div class="box-body">
      <% smackdown=locals[:smackdown] %>
      <% if smackdown != nil %>
        <table>
          <tr>
            <td>
              <span><b><%=t('Sent')%>: </b><span>
            </td>
            <td>
              <%= l smackdown.created_at.in_time_zone(getCurrentTimeZone), format: :short %>
            </td>
          </tr>
          <tr>
            <td>
              <div id="div_show_smackdown<%= smackdown.id %>">
                <span><b><%=t('Challenger')%>: </b><span>
            </td>
            <td>
                <%= User.find_by_id(smackdown.player1_id).name %>
            </td>
          </tr>
          <tr>
            <td>
                <span><b><%=t('Opponent')%>: </b><span>
            </td>
            <td>
                <%= User.find_by_id(smackdown.player2_id).name %>
                <% if smackdown.player2_accepted %>
                  (aceptado)
                <% elsif smackdown.player2_accepted==false %>
                  (rechazado)
                <% else %>
                  (pendiente)
               <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <span><b><%=t('Judge')%> #1: </b><span>
            </td>
            <td>
              <%= User.find_by_id(smackdown.judge1_id).name %>
              <% if smackdown.judge1_accepted %>
                (aceptado)
              <% elsif smackdown.judge1_accepted==false %>
                (rechazado)
              <% else %>
                (pendiente)
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <span><b><%=t('Judge')%> #2: </b><span>
            </td>
            <td>
              <%= User.find_by_id(smackdown.judge2_id).name if smackdown.judge2_id!=nil %>
              <% if smackdown.judge2_accepted %>
                (aceptado)
              <% elsif smackdown.judge2_accepted==false %>
                (rechazado)
              <% else %>
               (pendiente)
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <span><b><%=t('Judge_1_winner')%>: </b><span>
            </td>
            <td>
              <%= User.find_by_id(smackdown.judge1_winner_id).name if smackdown.judge1_winner_id!=nil %>
            </td>
          </tr>
          <tr>
            <td>
              <span><b><%=t('Judge_2_winner')%>: </b><span>
            </td>
            <td>
              <%= User.find_by_id(smackdown.judge2_winner_id).name if smackdown.judge2_winner_id!=nil %>
            </td>
          </tr>
          <tr>
            <td>
              <span><b><%=t('Judge_1_comment')%>: </b><span>
            </td>
            <td>
              <%= smackdown.judge1_comment %>
            </td>
          </tr>
          <tr>
            <td>
              <span><b><%=t('Judge_2_comment')%>: </b><span>
            </td>
            <td>
              <%= smackdown.judge2_comment %>
            </td>
          </tr>
        </table>
        <% else %>
        </div>
        <p>Error</p>
      <% end %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>
