<% smackdown=locals[:smackdown] %>

<%= render 'smackdown_info', :locals => {:smackdown=> smackdown} %>

<%= render 'smackdown_rules', :locals => {:smackdown=> smackdown} %>

<button id="button_show_smackdown<%= smackdown.id %>">Ver más</button>
</br>
</br>
<%= link_to "Compartir en Facebook", "/shareables/smackdown/"+smackdown.id.to_s+"/0" %>

<script>
    $(document).ready(function(){
      $("#button_show_smackdown<%= smackdown.id %>").click(function(){
        $("#ul_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        $("#div_show_smackdown<%= smackdown.id %>").slideToggle("slow");
        if($("#button_show_smackdown<%= smackdown.id %>").text()=="Ver más")
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ocultar");
        }else
        {
          $("#button_show_smackdown<%= smackdown.id %>").text("Ver más");
        }
      }); 
    });
</script>
