<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<section class="content-header">
  <h1>
    Historial
    <small>smackdowns juzgados</small>
  </h1>
</section>

<%= render 'toggle_all_smackdowns', :locals => {:smackdowns=> (@judge1_smackdowns + @judge2_smackdowns)} if (@judge1_smackdowns + @judge2_smackdowns).count %>

<hr>
<% @judge1_smackdowns.each do |smackdown| %>
  <%= render 'judge1_smackdown', :locals => {:smackdown=> smackdown} %>
  <hr>
  </br>
<% end %>

<% @judge2_smackdowns.each do |smackdown| %>
  <%= render 'judge2_smackdown', :locals => {:smackdown=> smackdown} %>
  <hr>
  </br>
<% end %>

<% if (@judge1_smackdowns + @judge2_smackdowns).count == 0 %>
  <p>No tienes ninguna partida por juzgar pendiente.</p>
<% end %>
