<style type="text/css" media="screen">
      body {
	text-align:center;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

</style>
<h1 align="center">Home</h1>

  <% if current_user %>
    <% Game.all.each do |g| %>
      <h2><%= g.name %></h2>
      <% upg = UserPlayingGame.where(:user_id=>current_user.id, :game_id=>g.id)[0] %>
      <% if upg==nil %>
        <% upg = UserPlayingGame.new %>
        <% upg.is_playing = false %>
      <% end %>
      <% if userIsPlayingGame(current_user.id,g.id) %>
        <span>jugando</span>
        <%= form_for(upg) do |f| %>
          <%= hidden_field_tag "user_playing_game[user_id]", current_user.id %>
          <%= hidden_field_tag "user_playing_game[game_id]", g.id %>
          <%= hidden_field_tag "user_playing_game[is_playing]", !upg.is_playing %>
          <div class="actions">
              <%= f.submit "dejar de jugar"%>
          </div>
        <%end%>
        <% g.rule_groups.each do |rule_group| %>
          <h3><%= rule_group.name %></h3>
          <% rule_group.rules.each do |rule| %>
            <span><%= rule.name %></span>
            <% player_rule = PlayerRule.where(:user_id=>current_user.id, :rule_id=>rule.id)[0] %>
            <% if player_rule==nil %>
              <% player_rule = PlayerRule.new %>
              <% player_rule.activated = false %>
            <% end %>

            <% if player_rule.activated %>
              <span>activada</span>
            <% else %>
              <span>desactivada</span>
            <% end %>

            <span>
            <%= form_for(player_rule) do |f| %>
              <%= hidden_field_tag "player_rule[user_id]", current_user.id %>
              <%= hidden_field_tag "player_rule[rule_id]", rule.id %>
              <%= hidden_field_tag "player_rule[activated]", !player_rule.activated %>
              <div class="actions">
                <% if player_rule.activated %>
                  <%= f.submit "desactivar"%>
                <% else %>
                  <%= f.submit "activar"%>
                <% end %>
              </div>
            <%end%>
            </span>

            </br>
          <% end %>
        <% end %>
      <%else%>
        <%= form_for(upg) do |f| %>
          <span>no jugando</span>
          <%= hidden_field_tag "user_playing_game[user_id]", current_user.id %>
          <%= hidden_field_tag "user_playing_game[game_id]", g.id %>
          <%= hidden_field_tag "user_playing_game[is_playing]", !upg.is_playing %>
          <div class="actions">
              <%= f.submit "jugar"%>
          </div>
        <%end%>
      <%end%>

    <% end %>
  <% else %>
    
  <% end %>


<table align="center">
  <tr>
    <th>Nombre de usuario</th>
  </tr>
  <% User.all.each do |user| %>
  <tr>
    <td><%= user.name%></td>
    <td><a href="/home/visit/<%= user.id %>">visitar</a>
  </tr>
  <% end %>
</table>
