<style type="text/css" media="screen">
      body {
	text-align:center;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

</style>
<h1 align="center">Home</h1>

  <% if current_user %>
    <% Game.all.each do |g| %>
      <h2><%= g.name %></h2>
      <% upg = UserPlayingGame.where(:user_id=>current_user.id, :game_id=>g.id)[0] %>
      <% if upg==nil %>
        <% upg = UserPlayingGame.new %>
        <% upg.is_playing = false %>
      <% end %>
      <% if userIsPlayingGame(current_user.id,g.id) %>
        <span>jugando</span>
        <%= form_for(upg) do |f| %>
          <%= hidden_field_tag "user_playing_game[user_id]", current_user.id %>
          <%= hidden_field_tag "user_playing_game[game_id]", g.id %>
          <%= hidden_field_tag "user_playing_game[is_playing]", !upg.is_playing %>
          <div class="actions">
              <%= f.submit "dejar de jugar"%>
          </div>
        <%end%>
        <% g.rule_groups.each do |rule_group| %>
          <h3><%= rule_group.name %></h3>
          <% rule_group.rules.each do |rule| %>
            <span><%= rule.name %></span>
            <% player_rule = PlayerRule.where(:user_id=>current_user.id, :rule_id=>rule.id)[0] %>
            <% if player_rule==nil %>
              <% player_rule = PlayerRule.new %>
              <% player_rule.activated = false %>
            <% end %>

            <% if player_rule.activated %>
              <span>activada</span>
            <% else %>
              <span>desactivada</span>
            <% end %>

            <span>
            <%= form_for(player_rule) do |f| %>
              <%= hidden_field_tag "player_rule[user_id]", current_user.id %>
              <%= hidden_field_tag "player_rule[rule_id]", rule.id %>
              <%= hidden_field_tag "player_rule[activated]", !player_rule.activated %>
              <div class="actions">
                <% if player_rule.activated %>
                  <%= f.submit "desactivar"%>
                <% else %>
                  <%= f.submit "activar"%>
                <% end %>
              </div>
            <%end%>
            </span>

            </br>
          <% end %>
        <% end %>
      <%else%>
        <%= form_for(upg) do |f| %>
          <span>no jugando</span>
          <%= hidden_field_tag "user_playing_game[user_id]", current_user.id %>
          <%= hidden_field_tag "user_playing_game[game_id]", g.id %>
          <%= hidden_field_tag "user_playing_game[is_playing]", !upg.is_playing %>
          <div class="actions">
              <%= f.submit "jugar"%>
          </div>
        <%end%>
      <%end%>

    <% end %>
  <% else %>
    
  <% end %>


<table align="center">
  <tr>
    <th>Nombre de usuario</th>
  </tr>
  <% User.all.each do |user| %>
  <tr>
    <td><%= user.name%></td>
    <td><a href="/home/visit/<%= user.id %>">visitar</a>
  </tr>
  <% end %>
</table>


<h2>Smackdowns enviados</h2>
<table align="center">
  <tr>
    <th>oponente</th>
    <th>juez 1</th>
    <th>juez 2</th>
    <th>ganador<th>
    <th>comentario juez 1</th>
    <th>comentario juez 2</th>
  </tr>
  <% Smackdown.where(:player1_id=>current_user.id).each do |smackdown| %>
    <tr>
      <td>
        <%= User.find_by_id(smackdown.player2_id).name %>
        <% if smackdown.player2_accepted == nil %>
          pendiente
        <% elsif smackdown.player2_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>
      </td>
      <td>
        <%= User.find_by_id(smackdown.judge1_id).name %>
        <% if smackdown.judge1_accepted == nil %>
          pendiente
        <% elsif smackdown.judge1_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>
      </td>
      <td>
        <% if smackdown.judge2_id == nil %>
          pendiente
        <% else %>
          <%= User.find_by_id(smackdown.judge2_id).name %>

          <% if smackdown.judge2_accepted == nil %>
            pendiente
          <% elsif smackdown.judge2_accepted %>
            acceptada
          <% else %>
            rechazada
          <% end %>

        <% end %>
      </td>
      <td>
        <% if smackdown.judge1_winner_id == nil || smackdown.judge2_winner_id == nil %>
          pendiente
        <% elsif smackdown.judge1_winnder_id != smackdown.judge2_winner_id %>
          conflicto!
        <% else %>
          <%= User.find_by_id(smackdown.judge1_winner_id).name %>
        <% end %>
      </td>
      <td><%= smackdown.judge1_comment %><td>
      <td><%= smackdown.judge2_comment %><td>
    </tr>
  <% end %>
</table>


<h2>Smackdowns recibidos</h2>
<table align="center">
  <tr>
    <th>oponente</th>
    <th>juez 1</th>
    <th>juez 2</th>
    <th>ganador<th>
    <th>comentario juez 1</th>
    <th>comentario juez 2</th>
  </tr>
  <% Smackdown.where(:player2_id=>current_user.id).each do |smackdown| %>
    <tr>
      <td>
        <%= User.find_by_id(smackdown.player2_id).name %>
        <% if smackdown.player2_accepted == nil %>
          pendiente
        <% elsif smackdown.player2_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>
      </td>
      <td>
        <%= User.find_by_id(smackdown.judge1_id).name %>
        <% if smackdown.judge1_accepted == nil %>
          pendiente
        <% elsif smackdown.judge1_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>

      </td>
      <td>
        <% if smackdown.judge2_id == nil %>
          pendiente
        <% else %>
          <%= User.find_by_id(smackdown.judge2_id).name %>
          <% if smackdown.judge2_accepted == nil %>
            pendiente
          <% elsif smackdown.judge2_accepted %>
            acceptada
          <% else %>
            rechazada
          <% end %>
        <% end %>
      </td>
      <td>
        <% if smackdown.judge1_winner_id == nil || smackdown.judge2_winner_id == nil %>
          pendiente
        <% elsif smackdown.judge1_winnder_id != smackdown.judge2_winner_id %>
          conflicto!
        <% else %>
          <%= User.find_by_id(smackdown.judge1_winner_id).name %>
        <% end %>
      </td>
      <td><%= smackdown.judge1_comment %><td>
      <td><%= smackdown.judge2_comment %><td>
      <td>
        <span>Juez: <span>
        <select name="judge_id">
          <% User.all.each do |judge| %>
            <% if judge.id != current_user.id %>
              <option value="<%= judge.id %>"><%= judge.name %></option>
            <% end %>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
</table>


<h2>Smackdowns donde soy juez</h2>
<table align="center">
  <tr>
    <th>oponente</th>
    <th>juez 1</th>
    <th>juez 2</th>
    <th>ganador<th>
    <th>comentario juez 1</th>
    <th>comentario juez 2</th>
  </tr>
  <% Smackdown.where(:judge1_id=>current_user.id).each do |smackdown| %>
    <tr>
      <td>
        <%= User.find_by_id(smackdown.player2_id).name %>
        <% if smackdown.player2_accepted == nil %>
          pendiente
        <% elsif smackdown.player2_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>

      </td>
      <td>
        <%= User.find_by_id(smackdown.judge1_id).name %>
        <% if smackdown.judge1_accepted == nil %>
          pendiente
        <% elsif smackdown.judge1_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>
      </td>
      <td>
        <% if smackdown.judge2_id == nil %>
          pendiente
        <% else %>
          <%= User.find_by_id(smackdown.judge2_id).name %>
          <% if smackdown.judge2_accepted == nil %>
            pendiente
          <% elsif smackdown.judge2_accepted %>
            acceptada
          <% else %>
            rechazada
          <% end %>
        <% end %>
      </td>
      <td>
        <% if smackdown.judge1_winner_id == nil || smackdown.judge2_winner_id == nil %>
          pendiente
        <% elsif smackdown.judge1_winnder_id != smackdown.judge2_winner_id %>
          conflicto!
        <% else %>
          <%= User.find_by_id(smackdown.judge1_winner_id).name %>
        <% end %>
      </td>
      <td><%= smackdown.judge1_comment %><td>
      <td><%= smackdown.judge2_comment %><td>
    </tr>
  <% end %>

  <% Smackdown.where(:judge2_id=>current_user.id).each do |smackdown| %>
    <tr>
      <td>
        <%= User.find_by_id(smackdown.player2_id).name %>
        <% if smackdown.player2_accepted == nil %>
          pendiente
        <% elsif smackdown.player2_accepted %>
          acceptada
        <% else %>
          rechazada
        <% end %>
      </td>
      <td>
        <%= User.find_by_id(smackdown.judge1_id).name %>
        <% if smackdown.judge1_accepted == nil %>
          pendiente
        <% elsif smackdown.judge1_accepted %>
          acceptada
        <% else %>
          rechazada
         <% end %>
      </td>
      <td>
        <% if smackdown.judge2_id == nil %>
          pendiente
        <% else %>
          <%= User.find_by_id(smackdown.judge2_id).name %>
          <% if smackdown.judge2_accepted == nil %>
            pendiente
          <% elsif smackdown.judge2_accepted %>
            acceptada
          <% else %>
            rechazada
          <% end %>
        <% end %>
      </td>
      <td>
        <% if smackdown.judge1_winner_id == nil || smackdown.judge2_winner_id == nil %>
          pendiente
        <% elsif smackdown.judge1_winnder_id != smackdown.judge2_winner_id %>
          conflicto!
        <% else %>
          <%= User.find_by_id(smackdown.judge1_winner_id).name %>
        <% end %>
      </td>
      <td><%= smackdown.judge1_comment %><td>
      <td><%= smackdown.judge2_comment %><td>
    </tr>
  <% end %>


</table>

