<% switch_cont = 0%>
<% switch_rule_cont = 0%>
<script src="/jquery-1.11.1.min.js"></script>

    <% Game.all.each do |g| %>
      <% upg = UserPlayingGame.where(:user_id=>current_user.id, :game_id=>g.id)[0] %>
      <% if upg==nil %>
        <% upg = UserPlayingGame.new %>
        <% upg.is_playing = false %>
      <% end %>
      <% if userIsPlayingGame(current_user.id,g.id) %>
        <table>
          <tr>
            <td>
              <h3><%= g.name %></h3>
            </td>
            <td>
              <%= form_for(upg) do |f| %>
                <%= hidden_field_tag "user_playing_game[user_id]", current_user.id %>
                <%= hidden_field_tag "user_playing_game[game_id]", g.id %>
                <%= hidden_field_tag "user_playing_game[is_playing]", !upg.is_playing %>
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch<%=switch_cont%>" checked>
                  <label class="onoffswitch-label" for="myonoffswitch<%=switch_cont%>">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                  <%switch_cont+=1%>
                </div>
              <%end%>
            </td>
          </tr>
        </table>
        <% g.rule_groups.each do |rule_group| %>
          <table>
            <tr>
              <td>
                <b><%= rule_group.name %></b>
              </td>
            <% rule_group.rules.each do |rule| %>
              <td><%= rule.name %></td>
              <% player_rule = PlayerRule.where(:user_id=>current_user.id, :rule_id=>rule.id)[0] %>
              <% if player_rule==nil %>
                <% player_rule = PlayerRule.new %>
              <% end %>
              <td>
              <%= form_for(player_rule) do |f| %>
                <%= hidden_field_tag "player_rule[user_id]", current_user.id %>
                <%= hidden_field_tag "player_rule[rule_id]", rule.id %>
                <%= hidden_field_tag "player_rule[activated]", !player_rule.activated %>
                <div class="actions">
                  <% if player_rule.activated %>
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch_rule<%=switch_rule_cont%>" checked>
    <label class="onoffswitch-label" for="switch_rule<%=switch_rule_cont%>">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
<%switch_rule_cont+=1%>
</div>
                  <% else %>
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch_rule<%=switch_rule_cont%>">
    <label class="onoffswitch-label" for="switch_rule<%=switch_rule_cont%>">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
<%switch_rule_cont+=1%>
</div>
                  <% end %>
                </div>
              <%end%>
              </td>
            <% end %>
            </tr>
          </table>
        <% end %>
      <%else%>
        <table>
          <tr>
            <td>
              <h3><%= g.name %></h3>
            </td>
            <td>
              <%= form_for(upg) do |f| %>
                <%= hidden_field_tag "user_playing_game[user_id]", current_user.id %>
                <%= hidden_field_tag "user_playing_game[game_id]", g.id %>
                <%= hidden_field_tag "user_playing_game[is_playing]", !upg.is_playing %>
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch<%=switch_cont%>">
                  <label class="onoffswitch-label" for="myonoffswitch<%=switch_cont%>">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                  <%switch_cont+=1%>
                </div>
              <%end%>
            </td>
          </tr>
        </table>
      <%end%>
    <% end %>


<h2>Historial</h2>
<a href="/home/sent_smackdowns">Enviados</a>
<a href="/home/received_smackdowns">Recibidos</a>
<a href="/home/judged_smackdowns">Juzgados</a>




<script>
<% for i in 0..switch_cont-1 %>
  $( "#myonoffswitch<%= i %>" ).click(function() {
      $(this).closest('form').submit();
  });
<% end %>

<% for i in 0..switch_rule_cont-1 %>
  $( "#switch_rule<%= i %>" ).click(function() {
      $(this).closest('form').submit();
  });
<% end %>

$( 'form' ).submit(function() {
});
</script>

