<section class="content-header">
  <h1>
    <%=t('My_games')%>
    <small><%=t("select_at_least_a_game_and_one_of_each_rules_to_start_receiving_smackdowns")%></small>
  </h1>
</section>
<div class="box">
  <div class="box-body">
    <div class="row">
      <%Game.all.each do |game|%>
        <%if upg.is_playing%>
          <% upg = UserPlayingGame.where(:user_id=>current_user.id, :game_id=>game.id)[0] %>
          <% if upg==nil %>
            <% upg = UserPlayingGame.new %>
            <% upg.user_id = current_user.id %>
            <% upg.game_id = game.id %>
            <% upg.is_playing = false %>
            <% upg.save %>
          <% end %>
          <div class="col-md-4">
            <div class="box box-primary" align="center">
              <img class="resizable_image" src="<%= game.image_path.split('.')[0] %>_100.png"/>
              <br>
                <a href="/user_playing_games/stop_playing_game?game_id=<%=game.id%>">
                  <button type="submit" class="btn btn-primary"><%=t('Stop playing')%></button>
                </a>
                <%=form_tag "/home/set_rules", method: :post do%>
                  <% game.rule_groups.each do |rule_group| %>
                    <h3><%=rule_group.name%></h3>
                    <% rule_group.rules.each do |rule| %>
                      <% player_rule = PlayerRule.where(:user_id=>current_user.id, :rule_id=>rule.id)[0] %>
                      <% if player_rule==nil %>
                        <% player_rule = PlayerRule.new %>
                        <% player_rule.user_id = current_user.id %>
                        <% player_rule.rule_id = rule.id %>
                        <% player_rule.save %>
                      <% end %>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input name="player_rules[<%=player_rule.id%>]" type="hidden"/>
                            <input name="player_rules[<%=player_rule.id%>]" type="checkbox" <%= "checked" if player_rule.activated %>/>
                            <%= rule.name %>
                          </label>
                        </div>
                      </div>
                    <%end%>
                  <%end%>
                  <button type="submit" class="btn btn-primary"><%=t('Save')%></button>
                <%end%>
              <%end%>
            </div>
          </div>
        <%end%>
      <%end%>
      <%Game.all.each do |game|%>
        <%if !upg.is_playing%>
          <% upg = UserPlayingGame.where(:user_id=>current_user.id, :game_id=>game.id)[0] %>
          <% if upg==nil %>
            <% upg = UserPlayingGame.new %>
            <% upg.user_id = current_user.id %>
            <% upg.game_id = game.id %>
            <% upg.is_playing = false %>
            <% upg.save %>
          <% end %>
          <div class="col-md-4">
            <div class="box box-primary" align="center">
              <img class="resizable_image" src="<%= game.image_path.split('.')[0] %>_100.png"/>
              <br>
              <a href="/user_playing_games/play_game?game_id=<%=game.id%>">
                <button type="submit" class="btn btn-primary"><%=t('Play')%></button>
              </a>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
