<section class="content-header">
  <h1>
    <% user = User.find_by_id(params[:id].to_i) %>
    Visitando a <%= user.name %>
    <small>envia un smackdown o compártelos en facebook</small>
  </h1>
</section>

<!-- GLOBAL STREAK -->
<% current_user_streak = streak(current_user.id,user.id) %>
<% user_streak = streak(user.id,current_user.id) %>
<!-- GLOBAL DIFFERENCE -->
<% current_user_difference = difference(current_user.id,user.id) %>

<% if current_user_streak!=0 || user_streak!=0 %>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="info-box">
      <% if current_user_streak > user_streak %>
        <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
        <div class="info-box-content">
          <table>
            <tr>
              <td>
                <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
              </td>
              <td>
                <span class="info-box-text">Racha</span>
                <span class="info-box-number"><%= current_user_streak %></span>
              </td>
              <td>
                <span class="info-box-text">Diferencia</span>
                <span class="info-box-number"><%= current_user_difference %></span>
              </td>
            </tr>
          </table>
        </div>
      <% else %>
        <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
        <div class="info-box-content">
          <table>
            <tr>
              <td>
                <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
              </td>
              <td>
                <span class="info-box-text">Racha</span>
                <span class="info-box-number"><%= user_streak %></span>
              </td>
              <td>
                <span class="info-box-text">Diferencia</span>
                <span class="info-box-number"><%= current_user_difference %></span>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%end%>


<!-- GAME DIFFERENCE AND STEAK -->
<% Game.all.each do |game| %>
<%if userIsPlayingGame(current_user.id,game.id)%>

<!--STREAK -->
<% current_user_streak_game = streakInGame(current_user.id,user.id,game.id) %>
<% user_streak_game = streakInGame(user.id,current_user.id,game.id) %>
<% if current_user_streak_game!=0 || user_streak_game!=0 %>

<!-- DIFFERENCE -->
<% difference_game = differenceInGame(current_user.id,user.id,game.id) %>

<!-- STREAK IN GAME -->
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="info-box">
      <% if current_user_streak_game > user_streak_game %>
        <div class="info-box-content">
          <table>
            <tr>
              <td>
                <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <img height="90" src="<%= game.image_path.split('.')[0] %>_100.png"/>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
              </td>
              <td>
                <span class="info-box-text">Racha</span>
                <span class="info-box-number"><%= current_user_streak_game %></span>
              </td>
              <td>
                <span class="info-box-text">Diferencia</span>
                <span class="info-box-number"><%= difference_game %></span>
              </td>
            </tr>
          </table>
        </div>
      <% else %>
        <div class="info-box-content">
          <table>
            <tr>
              <td>
                <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <img height="90" src="<%= game.image_path.split('.')[0] %>_100.png"/>
              </td>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
              </td>
              <td>
                <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
              </td>
              <td>
                <span class="info-box-text">Racha</span>
                <span class="info-box-number"><%= user_streak_game %></span>
              </td>
              <td>
                <span class="info-box-text">Diferencia</span>
                <span class="info-box-number"><%= difference_game %></span>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%end%>


<%end%>
<%end%>

<% stats_hash = getStats(current_user,user) %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Smackdowns', 'Totales'],
      ['<%= current_user.name %> ganadas',       <%= stats_hash['user1_ganadas'] %>],
      ['<%= user.name %> ganadas',      <%= stats_hash['user2_ganadas'] %>],
      ['Pendientes',    <%= stats_hash['pendientes'] %>],
      ['<%= current_user.name %> rechazadas',    <%= stats_hash['user1_rechazadas'] %>],
      ['<%= user.name %> rechazadas',    <%= stats_hash['user2_rechazadas'] %>],
      ['Conflictos',    <%= stats_hash['conflictos'] %>],
      ['Errores',       <%= stats_hash['errores'] %>]
    ]);
    var options = {
      title: 'Historial',
      is3D: false,
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>

<div align="center">
  <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
  <%= annotationChartScript(current_user,user).html_safe %>

<table class="resizable_table">
<tbody>
<% i=0 %>
<% MetaImage.all.each do |meta_image| %>
  <%= "<tr>".html_safe if i%3==0 %>
    <td>
      <table>
      <tbody>
        <tr>
          <td>
            <img src="<%= meta_image.path %>"/>
          </td>
        </tr>
        <tr>
          <td align="center" valign="bottom">
            <div class="fb-share-button"
              data-href="http://smackdown.club/shareables/versus/<%= current_user.id %>/<%= user.id %>/<%= meta_image.id %>" data-width="20" data-layout="button">
            </div>
            </br> </br> </br>
          </td>
        </tr>
      </tbody>
      </table>
    </td>
  <%= "</tr>".html_safe if i%3==2 %>
  <% i+=1 %>
<% end %>
</tbody>
</table>

</br>
</br>

<h2 align="center">Envía un Smackdown a <%= user.name %></h2>
<%= link_to "Enviar!", 
{:controller => "smackdown_creator", :action => "select_game", :user_id =>user.id }%>

</div>
