<section class="content-header">
  <h1>
    <% user = User.find_by_id(params[:id].to_i) %>
    <%=t('You_are_visiting_a')%> <%= user.name %>
    <small><%= t('send_a_smackdown_or_share_them_on_facebook') %></small>
  </h1>
</section>
<%if current_user%>
<div class="box">
  <div class="box-body">
    <div class="row" align="center">
      <div class="col-md-12" align="center">
        <div class="box box-primary">
          <a href="/smackdown_creator/select_game?user_id=<%=user.id%>">
            <button style="background-color: #e74c3c;" type="submit" class="btn btn-primary"> <%=t('Send_a_Smackdown_to')%> <%=user.name%>!</button>
          </a>
        </div>
        </br>
      </div>
    </div>
    <!-- GLOBAL STREAK -->
    <% current_user_streak = streak(current_user.id,user.id) %>
    <% user_streak = streak(user.id,current_user.id) %>
    <!-- GLOBAL DIFFERENCE -->
    <% current_user_difference = difference(current_user.id,user.id) %>

    <% if current_user_streak!=0 || user_streak!=0 %>
      <div class="row" align="center">
        <%= render '/home/visit_linechart', :locals => {:player1 => current_user,:player2 => user} %>
        <%= render '/home/visit_piechart', :locals => {:player1 => current_user,:player2 => user} %>
        <%= render '/home/visit_radar', :locals => {:player1 => current_user,:player2 => user} %>
        <%= render '/home/visit_player_style', :locals => {:player1 => current_user,:player2 => user} %>
        <div class="col-md-12" align="center">
          <div class="box box-primary" align="center">
            <h2>Global</h2>
            <% if current_user_streak > user_streak %>
                <table align="center">
                  <tr>
                  <td>
                    <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
                  </td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td colspan="2" align="center" style="<%= current_user_difference>=0 ? 'color: #00A65A' : 'color: #DD4B39' %>">
                    <span class="info-box-text" align="center"><%=t('Difference')%></span>
                    <span class="info-box-number" align="center"><%= current_user_difference %></span>
                  </td>
                  <td align="center">
                    <span class="info-box-text" align="center"><%=t('Streak')%></span>
                    <span class="info-box-number" align="center"><%= current_user_streak %></span>
                  </td>
                </tr>
              </table>
          <% else %>
              <table align="center">
                <tr>
                  <td>
                    <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <span class="info-box-text" align="center"><%=t('Streak')%></span>
                    <span class="info-box-number" align="center"><%= user_streak %></span>
                  </td>
                  <td colspan="2" align="center" style="<%= current_user_difference>=0 ? 'color: #00A65A' : 'color: #DD4B39' %>">
                      <span class="info-box-text" align="center"><%=t('Difference')%></span>
                      <span class="info-box-number" align="center"><%= current_user_difference %></span>
                  </td>
                  <td>
                  </td>
                </tr>
                </tr>
              </table>
          <% end %>
        </div>
      </div>
    </div>
    <%end%>
    <% Game.all.each do |game| %>
      <%if userIsPlayingGame(current_user.id,game.id)%>
      <% current_user_streak_game = streakInGame(current_user.id,user.id,game.id) %>
      <% user_streak_game = streakInGame(user.id,current_user.id,game.id) %>
      <% if current_user_streak_game!=0 || user_streak_game!=0 %>
      <% difference_game = differenceInGame(current_user.id,user.id,game.id) %>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary" align="center">
            <img align="center" class="resizable_image" src="<%= game.image_path.split('.')[0] %>_100.png"/>
            <% if current_user_streak_game > user_streak_game %>
              <table align="center">
                <tr>
                  <td>
                    <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
                  </td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td colspan="2" align="center" style="<%= difference_game>=0 ? 'color: #00A65A' : 'color: #DD4B39' %>">
                    <span class="info-box-text" align="center"><%=t('Difference')%></span>
                    <span class="info-box-number" align="center"><%= difference_game %></span>
                  </td>
                  <td align="center">
                    <span class="info-box-text" align="center"><%=t('Streak')%></span>
                    <span class="info-box-number" align="center"><%= current_user_streak_game %></span>
                  </td>
                </tr>
              </table>
            <% else %>
              <table align="center">
                <tr>
                  <td>
                    <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <img height="90" src='http://graph.facebook.com/<%= current_user.uid %>/picture?type=normal'/>
                  </td>
                  <td>
                    <span class="info-box-icon bg-red"><i class="fa fa-angle-double-down"></i></span>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <span class="info-box-text" align="center"><%=t('Streak')%></span>
                    <span class="info-box-number" ><%= user_streak_game %></span>
                  </td>
                  <td colspan="2" align="center" style="<%= difference_game>=0 ? 'color: #00A65A' : 'color: #DD4B39' %>">
                    <span class="info-box-text" align="center"><%=t('Difference')%></span>
                    <span class="info-box-number" align="center"><%= difference_game %></span>
                  </td>
                  <td>
                  </td>
                </tr>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
<%end%>

<div align="center">
  <table class="resizable_table">
    <tbody>
    <% i=0 %>
    <% MetaImage.all.each do |meta_image| %>
    <%= "<tr>".html_safe if i%3==0 %>
    <td>
      <table>
      <tbody>
        <tr>
          <td>
            <img src="<%= meta_image.path %>"/>
          </td>
        </tr>
        <tr>
          <td align="center" valign="bottom">
            <div class="fb-share-button"
              data-href="http://smackdown.club/shareables/versus/<%= current_user.id %>/<%= user.id %>/<%= meta_image.id %>" data-width="20" data-layout="button">
            </div>
            </br> </br> </br>
          </td>
        </tr>
      </tbody>
      </table>
    </td>
  <%= "</tr>".html_safe if i%3==2 %>
  <% i+=1 %>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
<%else%>
<div class="box">
  <div class="row" align="center">
    <div class="col-md-12" align="center">
      <div class="box box-primary">
        <a href="/auth/facebook">
          <button style="background-color: #e74c3c;" type="submit" class="btn btn-primary"><%=t('Log_in')%></button>
        </a>
      </div>
      </br>
    </div>
  </div>
</div>
<%end%>
