<% user = User.find_by_id(params[:id].to_i) %>
<h2><%= user.name %></h2>

<% stats_hash = getStats(current_user,user) %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Smackdowns', 'Totales'],
      ['<%= current_user.name %> ganadas',       <%= stats_hash['user1_ganadas'] %>],
      ['<%= user.name %> ganadas',      <%= stats_hash['user2_ganadas'] %>],
      ['Pendientes',    <%= stats_hash['pendientes'] %>],
      ['<%= current_user.name %> rechazadas',    <%= stats_hash['user1_rechazadas'] %>],
      ['<%= user.name %> rechazadas',    <%= stats_hash['user2_rechazadas'] %>],
      ['Conflictos',    <%= stats_hash['conflictos'] %>],
      ['Errores',       <%= stats_hash['errores'] %>]
    ]);
    var options = {
      title: 'Historial',
      is3D: false,
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>
<body>
  <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</body>

<%= annotationChartScript(current_user,user).html_safe %>

<!--
<% MetaImage.all.each do |meta_image| %>
  <img width="200" src="<%= meta_image.path %>"/>
  <div class="fb-share-button"
    data-href="http://smackdown.club/home/watch/<%= current_user.id %>/<%= user.id %>/<%= meta_image.id %>" data-width="500">
  </div>
<% end %>
-->

<% Game.all.each do |game| %>
  <% receiving_smackdown = true %>
  <% if userIsPlayingGame(user.id,game.id) %>
    <h2><%= game.name %></h2>
    <img src="<%= game.image_path %>"/>
    <script>
    $(document).ready(function(){
      $("#button_game_<%=game.id%>").click(function(){
        $("#form_game_<%=game.id%>").slideToggle("slow");
        if($("#button_game_<%=game.id%>").text()=="Mostrar")
        {
          $("#button_game_<%=game.id%>").text("Ocultar");
        }else
        {
          $("#button_game_<%=game.id%>").text("Mostrar");
        }
      }); 

      $("#form_game_<%=game.id%>").on("submit", function(){
        $("input:submit").prop("disabled", true);
      });

    });



    </script>
    <button id="button_game_<%=game.id%>">Mostrar</button>
    <form id="form_game_<%=game.id%>" style="display:none;" accept-charset="UTF-8" action="/home/send_smackdown" method="get" class="nifty_form">
      <% rule_group_count=0 %>
      <% rules_ok = true %>
      <% game.rule_groups.each do |rule_group| %>
        <h3><%= rule_group.name %></h3>
        <select name="rule[<%= rule_group_count %>]">
          <% at_least_a_rule = false %>
          <% rule_group.rules.each do |rule| %>
            <% if PlayerRule.where(:user_id=>user.id,:rule_id=>rule.id,:activated=>true)[0]!=nil %>
              <% at_least_a_rule = true %>
              <option value="<%= rule.id %>"><%= rule.name %></option>
            <% end %>
          <% end %>
          <% if !at_least_a_rule %>
            <% rules_ok=false %>
          <% end %>
        </select>
        <% rule_group_count+=1 %>
      <% end %>
      <% receiving_smackdown = true %>
      <% if rules_ok %>
        <h3>Elige el juez</h3>
        <select name="judge_id">
          <% User.all.each do |judge| %>
            <% if judge.id != current_user.id %>
              <option value="<%= judge.id %>"><%= judge.name %></option>
            <% end %>
          <% end %>
        </select>
        <input name="opponent_id" type="hidden" value="<%= user.id %>" />
        </br>
        <input name="commit" type="submit" value="Enviar Smackdown!" />
      <% else %>
        <p><%= user.name %> no ha seleccionado al menos una regla de cada grupo para poder jugar <%= game.name %>.</p>
      <% end %>
    </form>
  <% end %>
<% end %>

<% if !playingAtLeastAGame user %>
  <p><%= user.name %> todavía no está listo para recibir Smackdowns. Dile que seleccione al menos un juego y una regla de cada grupo.</p>
<% end %>
