
<h2>Esperando juez</h2>

<% smackdown_pending = false %>
<hr>
<% smackdown_table = Smackdown.arel_table %>
<% Smackdown.where(:player1_id=>current_user.id).where(smackdown_table[:judge1_accepted].eq(nil).or(smackdown_table[:judge2_accepted].eq(nil))).each do |smackdown| %>
  <% smackdown_pending = true %>
    <%= vsTable(User.find_by_id(smackdown.player1_id),User.find_by_id(smackdown.player2_id)).html_safe %>
    <tr>
      <td>
        <span><b>Enviado en: </b><span>
        <%= l smackdown.created_at.in_time_zone(getCurrentTimeZone), format: :short %>
      </td>
    </tr>
    <tr>
      <td>
        <span><b>Retador: </b><span>
        <%= User.find_by_id(smackdown.player1_id).name %>
      </td>
      <td>
        <span><b>Oponente: </b><span>
        <%= User.find_by_id(smackdown.player2_id).name %>
        <% if smackdown.player2_accepted %>
          (aceptado)
        <% elsif smackdown.player2_accepted==false %>
          (rechazado)
        <% else %>
          (pendiente)
        <% end %>
      </td>
      <td>
        <span><b>Juez 1: </b><span>
        <%= User.find_by_id(smackdown.judge1_id).name %>
        <% if smackdown.judge1_accepted %>
          (aceptado)
        <% elsif smackdown.judge1_accepted==false %>
          (rechazado)
        <% else %>
          (pendiente)
        <% end %>
      </td>
      <td>
        <span><b>Juez 2: </b><span>
        <%= User.find_by_id(smackdown.judge2_id).name if smackdown.judge2_id!=nil %>
        <% if smackdown.judge2_accepted %>
          (aceptado)
        <% elsif smackdown.judge2_accepted==false %>
          (rechazado)
        <% else %>
          (pendiente)
        <% end %>

      </td>
    </tr>
    <tr>
      <td>
        <span><b>Ganador según el juez 1: </b><span>
        <%= User.find_by_id(smackdown.judge1_winner_id).name if smackdown.judge1_winner_id!=nil %>
      </td>
      <td>
        <span><b>Ganador según el juez 2: </b><span>
        <%= User.find_by_id(smackdown.judge2_winner_id).name if smackdown.judge2_winner_id!=nil %>
      </td>
    </tr>
    <tr>
      <td>
        <span><b>Comentario del juez 1: </b><span>
        <%= smackdown.judge1_comment %>
      </td>
      <td>
        <span><b>Comentario del juez 2: </b><span>
        <%= smackdown.judge2_comment %>
      </td>
    </tr>
  </table>
  <ul>
    <li><b>Juego: </b><%= smackdown.smackdown_rules.first.rule.rule_group.game.name %></li>
    <% smackdown.smackdown_rules.each do |sr| %>
      <li><b><%= sr.rule.rule_group.name %>: </b><%= sr.rule.name %></li>
    <% end %>
  </ul>
<HR> 
  </br>
<% end %>

<% if !smackdown_pending %>
  <p>Todavia no has completado ningún Smackdown.</p>
<% end %>
