<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<section class="content-header">
  <h1>
    Esperando juez
    <small>juega la partida y espera que los jueces ingresen los reslutados</small>
  </h1>
</section>

<p id="notice"><%= notice %></p>

<%= render 'toggle_all_smackdowns', :locals => {:smackdowns=> @smackdowns} if @smackdowns.count > 0 %>

<hr>
<% @smackdowns.each do |smackdown| %>
  <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
  <HR>
  </br>
<% end %>

<% if @smackdowns.count == 0 %>
  <p>Todavia no has completado ningún Smackdown.</p>
<% end %>
