<section class="content-header">
  <h1>
    <%=t('Do_you_accept_to_judge_this_Smackdown')%>
    <small><%=t('judge_a_smackdown')%></small>
  </h1>
</section>
<div class="box">
  <div class="box-body">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-header" align="center">
            <div class="box-footer">
              <a href="/judge_creator/select_winner?smackdown_id=<%=@smackdown.id%>&accepted=true">
                <button type="submit" class="btn btn-primary"><%=t('Accept')%></button>
              </a>
              <a href="/judge_creator/select_winner?smackdown_id=<%=@smackdown.id%>&accepted=false">
                <button type="submit" class="btn btn-primary"><%=t('Reject')%></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render '/home/uneditable_smackdown', :locals => {:smackdown=> @smackdown} %>
  </div>
</div>
