<section class="content-header">
  <h1>
    <%=t('Select_your_opponent')%>
    <small><%=t('send_a_smackdown')%></small>
  </h1>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
      0%
    </div>
  </div>
</section>

<div class="box">

  <!--<div class="box-header">
    <h3 class="box-title">Has click para seleccionar el usuario</h3>
  </div>-->

  <div class="box-body">
        <form role="form" accept-charset="UTF-8" action="/smackdown_creator/select_user" method="get" class="nifty_form">
          <div class="form-group">
                  <div class="input-group input-group-sm">
                    <% if @like_param!= "" && @like_param!= nil%>
                      <input name="like_param" placeholder="<%=@like_param%>" type="text" class="form-control">
                    <% else %>
                      <input name="like_param" placeholder="Escribe el nombre del usuario aqui." type="text" class="form-control">
                    <% end %>
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-flat" type="submit"><%=t('Search')%>!</button>
                    </span>
                  </div>
          </div>
        </form>

    <%if @users.count>0%>
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><%=t('Image')%></th>
            <th><%=t('Name')%></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if user.id!=current_user.id %>
              <tr>
                <td>
                  <% if user.uid!= nil %>
                    <%= link_to image_tag("http://graph.facebook.com/" + user.uid + "/picture?type=large", :class => "resizable_image"), {:controller => "smackdown_creator", :action => "select_game", :user_id => user.id }%>
                  <% end %>
                </td>
                <td>
                  <%= link_to user.name,{:controller => "smackdown_creator", :action => "select_game", :user_id => user.id }%>
                  <a href="/smackdown_creator/select_user/?like_param=<%=@like_param%>&favorite_id=<%=user.id%>">
                    <% if Favorite.where(user: current_user, favorited_id: user.id).count>0 %>
                      <i style="color: #e74c3c" class="fa fa-heart"></i>
                    <% else %>
                      <i style="color: #e74c3c" class="fa fa-heart-o"></i>
                    <% end %>
                  </a>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th><%=t('Image')%></th>
            <th><%=t('Name')%></th>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->

