<section class="content-header">
  <h1>
    Selecciona las reglas
    <small>enviar un smackdown</small>
  </h1>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
    75%
  </div>
</div>
</section>

<table align="center">
  <tr>
    <td>
      <img class="resizable_image" src="/assets/Smackdown_150px/vs.png"/>
    </td>
    <td>
      <img class="resizable_image" src="http://graph.facebook.com/<%= @user.uid %>/picture?type=large"/>
    </td>
    <td>
      <img align="center" class="resizable_image" src="<%= @game.image_path %>"/>
    </td>
  </tr>
</table>
</br>

<h2 align="center">Selecciona las reglas</h2>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Selecciona las reglas</h3>
        </div><!-- /.box-header -->
        <form accept-charset="UTF-8" action="/home/send_smackdown" method="get" class="nifty_form" align="center">
          <div class="box-body">
            <% rule_group_count=0 %>
            <% rules_ok = true %>
            <% @game.rule_groups.each do |rule_group| %>
              <div class="form-group">
                <label><%= rule_group.name %></label>
                <select class="form-control" name="rule[<%= rule_group_count %>]">
                  <% at_least_a_rule = false %>
                  <% rule_group.rules.each do |rule| %>
                    <% if PlayerRule.where(:user_id=>@user.id,:rule_id=>rule.id,:activated=>true)[0]!=nil %>
                      <% at_least_a_rule = true %>
                      <option value="<%= rule.id %>"><%= rule.name %></option>
                    <% end %>
                  <% end %>
                  <% if !at_least_a_rule %>
                   <% rules_ok=false %>
                  <% end %>
                </select>
              </div>
              <% rule_group_count+=1 %>
            <% end %>
            <% receiving_smackdown = true %>
            <% if rules_ok %>
              <label>Juez</label>
              <input name="opponent_id" type="hidden" value="<%= @user.id %>" />
              <input name="judge_id" type="hidden" value="<%= @judge.id %>" />
              <input name="commit" type="submit" value="Enviar Smackdown!" />
            <% else %>
              <p><%= @user.name %> no ha seleccionado al menos una regla de cada grupo para poder jugar <%= @game.name %>.</p>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
