<h1 align="center">Enviar un Smackdown paso 3/3</h1>

<table align="center">
  <tr>
    <td>
      <img class="resizable_image" src="/assets/Smackdown_150px/vs.png"/>
    </td>
    <td>
      <img class="resizable_image" src="http://graph.facebook.com/<%= @user.uid %>/picture?type=large"/>
    </td>
    <td>
      <img align="center" class="resizable_image" src="<%= @game.image_path %>"/>
    </td>
  </tr>
</table>
</br>

<h2 align="center">Selecciona las reglas</h2>

    <form accept-charset="UTF-8" action="/home/send_smackdown" method="get" class="nifty_form" align="center">
      <% rule_group_count=0 %>
      <% rules_ok = true %>
      <% @game.rule_groups.each do |rule_group| %>
        <h3><%= rule_group.name %></h3>
        <select name="rule[<%= rule_group_count %>]">
          <% at_least_a_rule = false %>
          <% rule_group.rules.each do |rule| %>
            <% if PlayerRule.where(:user_id=>@user.id,:rule_id=>rule.id,:activated=>true)[0]!=nil %>
              <% at_least_a_rule = true %>
              <option value="<%= rule.id %>"><%= rule.name %></option>
            <% end %>
          <% end %>
          <% if !at_least_a_rule %>
            <% rules_ok=false %>
          <% end %>
        </select>
        <% rule_group_count+=1 %>
      <% end %>
      <% receiving_smackdown = true %>
      <% if rules_ok %>
        <h3>Juez:</h3>
        <select name="judge_id">
          <% User.all.each do |judge| %>
            <% if judge.id != current_user.id %>
              <option value="<%= judge.id %>"><%= judge.name %></option>
            <% end %>
          <% end %>
        </select>
        <input name="opponent_id" type="hidden" value="<%= @user.id %>" />
        </br>
        </br>
        <input name="commit" type="submit" value="Enviar Smackdown!" />
        </br>
      <% else %>
        <p><%= @user.name %> no ha seleccionado al menos una regla de cada grupo para poder jugar <%= @game.name %>.</p>
      <% end %>
    </form>
