<% content_for :head do %>
  <meta property="og:image" content="http://smackdown.club<%= MetaImage.find_by_id(params[:meta_image].to_i).path.split('.')[0] %>.png"/>
<% end %>

<%user1 = User.find_by_id(params[:id1])%>
<%user2 = User.find_by_id(params[:id2])%>

<div align="center">

<h1><%=user1.name%> vs <%=user2.name%></h2>

<table align="center">
  <tr>
    <td>
      <img class="resizable_image" src="http://graph.facebook.com/<%= user1.uid %>/picture?type=large"/>
    </td>
    <td>
      <img class="resizable_image" src="/assets/Smackdown_150px/vs.png"/>
    </td>
    <td>
      <img class="resizable_image" src="http://graph.facebook.com/<%= user2.uid %>/picture?type=large"/>
    </td>
  </tr>
</table>

<img src="<%= MetaImage.find_by_id(params[:meta_image].to_i).path %>"/>


      <%= render '/home/visit_linechart', :locals => {:player1 => user1,:player2 => user2} %>
      <%= render '/home/visit_piechart', :locals => {:player1 => user1,:player2 => user2} %>


<div class="fb-share-button"
  data-href="http://smackdown.club/shareables/versus/<%= user1.id %>/<%= user2.id %>/<%= params[:meta_image] %>" data-width="500">
</div>


</div>
