<%= render '/home/map_scripts_header' %>
<section class="content-header">
  <h1>
    <%= @dojo.name %> "<%= @dojo.motto %>"<img src="<%= @dojo.badge_image %>"/>
    <small><%=t('you_are_visiting_a_dojo')%></small>
  </h1>
</section>
<div class="box">
  <div class="box-body">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-header" align="center">
            <h3>Under construction</h3>
            <button style="background-color: #888888;" type="submit" class="btn btn-primary"><%=t('Send smackdown')%></button>
          </div>
        </div>
      </div>
    </dojo>
    <div class="row">

      <%dojo_invitation=DojoInvitation.where(user: current_user,dojo: @dojo)[0]%>
      <%if dojo_invitation%>
      <div class="col-lg-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-header" align="center">
            <h2><%=t('Do_you_want_to_join_this_dojo')%>?</h2>
          </div>
          <div class="box-footer" align="center">
            <a href="/dojos/accept_invitation?dojo_invitation_id=<%=dojo_invitation.id%>">
              <button type="submit" class="btn btn-primary"><%=t('Accept')%></button>
            </a>
            <a href="/dojos/decline_invitation?dojo_invitation_id=<%=dojo_invitation.id%>">
              <button type="submit" class="btn btn-primary"><%=t('Reject')%></button>
            </a>
          </div>
        </div>
      </div>
      <%end%>

      <div class="col-md-12" align="center">
        <div class="box box-primary">
          <img src="<%= @dojo.main_image %>"/>
        </div>
      </div>

      <div class="col-md-3" align="center">
        <div class="box box-primary">
          <p>
            <strong><%=t('About')%>:</strong>
            <%= @dojo.about %>
          </p>
          <p>
            <strong><%=t('Schedule')%>:</strong>
            <%= @dojo.schedule %>
          </p>
          <p>
            <strong><%=t('Address')%>:</strong>
            <%= @dojo.public_address %>
          </p>
        </div>
      </div>
      <div class="col-md-9" align="center">
        <div class="box box-primary">
          <%@dojo.users.each do |user|%>
            <a href="/smackdown_creator/select_game?user_id=<%=user.id%>&dojo_id=<%=@dojo.id%>">
              <img height="90" src='http://graph.facebook.com/<%= user.uid %>/picture?type=normal'/>
            </a>
          <%end%>
          <div class="box-footer">
            <a href="/dojos/manage_users?dojo_id=<%=@dojo.id%>">
              <button type="submit" class="btn btn-primary"><%=t('Manage_users')%></button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-12" align="center">
        <div class="box box-primary">
          <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
          </div>
        </div>
      </div>
      <div class="col-md-12" align="center">
        <div class="box box-primary">
           <a href="/dojos/<%=@dojo.id%>/edit">
            <button type="submit" class="btn btn-primary"><%=t('Edit')%></button>
           </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
    <% Dojo.all.each do |dojo| %>
      {
        "lat": <%= dojo.latitude %>,
        "lng": <%= dojo.longitude %>,
        "picture": {
          "url": "<%=dojo.badge_image%>",
          "width":  36,
          "height": 36
        },
        "infowindow": "<%=dojo.motto%> <a href='/dojos/<%=dojo.id%>'>Visit</a>"
      },
    <%end%>
    ]);
    handler.map.serviceObject.setCenter(new google.maps.LatLng(<%= @dojo.latitude %>, <%= @dojo.longitude %>));
  });
</script>
