<%= form_for(@player_rule) do |f| %>
  <% if @player_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_rule.errors.count, "error") %> prohibited this player_rule from being saved:</h2>

      <ul>
      <% @player_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rule_id %><br>
    <%= f.number_field :rule_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :activated %><br>
    <%= f.check_box :activated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
