<!DOCTYPE html>
<html>
<head>
  <title>Smackdown!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--
  <link rel="stylesheet" type="text/css" href="/assets/test.css">
-->
  <%= stylesheet_link_tag "test.css" %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>

</head>
<body>

<!-- FACEBOOK SHARE -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=672588699490076&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- END FACEBOOK SHARE -->

<ul class="egmenu">
  <% if current_user %>

    <% pending_respond = pendingRespond %>
    <% pending_judge = pendingJudge %>
    <% wating_opponent_count = watingOpponentCount; %>
    <% wating_judges_count = getWatingJudge.count %>

    <li><a href="/"><img height="35px" class="resizable_image" src="/assets/Smackdown_bw/500px.png"/></a></li>
    <li>
      <a href="/home/users">Visitar</a>
    </li>
    <li>
      <a href="/smackdown_creator/select_user">Enviar Smackdown</a>
    </li>
    <li>
      <a href="#" class="has-sub">Recibidos (<%= pending_respond + pending_judge %>)</a>
      <ul>
        <li><a href="/home/pending_respond_smackdown"><nobr>Smackdowns (<%= pending_respond %>)</nobr></a></li>
        <li><a href="/home/pending_judge_smackdown"><nobr>Juicios (<%= pending_judge %>)</nobr></a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="has-sub">Esperando (<%= wating_opponent_count + wating_judges_count %>)</a>
      <ul>
        <li><a href="/home/wating_opponent"><nobr>Oponente (<%= wating_opponent_count %>)</nobr></a></li>
        <li><a href="/home/wating_judges">Jueces (<%= wating_judges_count %>)</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="has-sub">Historial</a>
      <ul>
        <li><a href="/home/history_sent_smackdowns">Enviados</a></li>
        <li><a href="/home/history_received_smackdowns">Recibidos</a></li>
        <li><a href="/home/history_judged_smackdowns">Juzgados</a></li>
      </ul>
    </li>

    <li><a href="/home/profile">Mi Perfil</a></li>
    <li><a href="<%= signout_path %>">Cerrar sesion</a></li>

  <% else %>
    <li><a href="/auth/facebook">Iniciar sesión</a></li>
  <% end %>
</ul>

<!--
<img class="resizable_image" src="/assets/smackdown_logo.png"/>
-->
<%= yield %>


</body>
</html>
