<!DOCTYPE html>
<html>
<head>
  <title>DigitalOcean Rails Application</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <div id="user-widget">
    <% if current_user %>
      <li><a href="/">Inicio</a></li>
      <li><a href="/home/users">Enviar!</a></li>
      <li><a href="/home/respond_smackdown_list">Responder!</a></li>
      <li><a href="/home/judge_smackdown_list">Juzgar!</a></li>
      <li><a href="/home/profile"><%= current_user.name %></a></li>
      <li><a href="<%= signout_path %>">Cerrar sesión</a></li>
    <% else %>
      <li><a href="/auth/facebook">Iniciar sesión</a></li>
    <% end %>
  </div>
<ul>

<img src="/assets/bunker_ac_logo.png"/>
<%= yield %>


</body>
</html>
